# requirements.txt
# Version: 1.1.0
# Note: Added pandas and matplotlib for data export and charts in improvements 5/6.

certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==2.2.5
Flask-WTF==1.2.1  # Added for CSRF protection
gunicorn==23.0.0
idna==3.10
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.31.0
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
WTForms==3.1.2  # Added as dependency for Flask-WTF
zipp==3.15.0
pandas==2.2.2
matplotlib==3.9.1