{% extends "base.html" %}
{% block content %}
<h1>Admin Login</h1>
<form id="adminLoginForm" action="{{ url_for('admin') }}" method="POST">
    <input type="hidden" name="csrf_token" id="csrf_token_admin_login" value="{{ csrf_token() }}">
    <div class="mb-3">
        <label for="username" class="form-label">{{ form.username.label }}</label>
        {{ form.username(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">{{ form.password.label }}</label>
        {{ form.password(class="form-control", required=True) }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}
{% endblock %}